<footer class="navbar navbar-dark bg-dark text-white justify-content-center w-100">
    <div class="row flex-column align-items-center text-center">
        <div class="col-6 col-md-5">
            <img src="../src/images/logo.png" class="img-fluid logo" alt="logo">
        </div>
        <p class="footer__copyright">Copyright © 2018 4Karma</p>
    </div>
</footer>