{{!-- Modify navbar partial in this file --}}
<nav class="navbar navbar-expand-sm bg-light">
    <div class="container">
        <div class="navbar__wrapper d-flex flex-column flex-md-row justify-content-between">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav-content" aria-expanded="false" aria-controls="nav-content"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon collapsed"><i class="fas fa-bars fa-lg icon"></i></span>
                <span class="navbar-toggler-icon expanded"><i class="fas fa-times fa-lg icon"></i></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand navbar__logo--wrapper text-center" href="/index.html">
                <img src="../src/images/logo.png" class="img-fluid logo" alt="logo">
            </a>

            <!-- Links -->
            <div class="collapse navbar-collapse justify-content-end justify-content-center navbar__menu" id="nav-content">
                <div class="navbar-nav w-100 justify-content-sm-between justify-content-md-end">
                    <a class="nav-link pt-3 pb-3 p-sm-3 p-md-1 ml-sm-2 mr-sm-2" href="/home.html">Home</a>
                    <a class="nav-link pt-3 pb-3 p-sm-3 p-md-1 ml-sm-2 mr-sm-2 active" href="/search.html">Search</a>
                    <a class="nav-link pt-3 pb-3 p-sm-3 p-md-1 ml-sm-2 mr-sm-2" href="/report.html">Report</a>
                    <a class="nav-link pt-3 pb-3 p-sm-3 p-md-1 ml-sm-2 mr-sm-2" href="/documentation.html">Documentation</a>
                </div>
            </div>
        </div>
    </div>
</nav>